<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>敏捷的水的Blog</title>
    <link rel='stylesheet' href="/stylesheets/bootstrap.css">

    <link rel='stylesheet' href="/stylesheets/bootstrap-theme.css">
    <script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
    <script  type="text/javascript" src="/javascripts/bootstrap.min.js" ></script>

</head>
<body>

<div class="  navbar-fixed-top" style="background:rgba(190,190,190,0.8);">

    <div class="row" style="padding: 10px;">
        <div class="col-md-8">
            <div style="padding-left: 30px;">
                <a href="/" style="font-size: 30px;">敏捷的水</a>
                <p>
                    <small>快乐生活,快乐工作，上善若水，厚德载物</small>
                </p>
            </div>
        </div>
        <div class="col-md-4 text-right" style="padding-right: 50px;padding-top: 20px;">
            <%if(locals.user){%>
            <a href="/managepost">Manage</a>
            <a href="/logout">Logout</a>

            <%}else{%>
            <a href="/login">Login</a>
            <%}%>

        </div>
    </div>


</div>


