<ul>
    <% for(post in posts){ %>
    <li>
        <h3 class="lead"><a href='/post/<%= posts[post].id%>'> <%= posts[post].title %></a></h3>

        <p><%- posts[post].summary  %></p>
        <p class="text-right"><small><%= posts[post].createdAt || "" %></small></p>
    </li>
    <% } %>
</ul>

