<%- include shared/header %>

<div style="margin-top: 80px; padding: 40px;">
    <div class="row ">
        <div class="col-md-8">
            <div class="panel panel-default">
                    <%- body %>
            </div>
        </div>
        <%- include shared/sidebar %>
    </div>
</div>


<%- include shared/footer %>