<div class="col-sm-3 panel  panel-default" style="padding-top: 20px;">

    <div class="row">
        <img src="http://images.cnblogs.com/cnblogs_com/cnblogsfans/150497/r_wangdeshui.jpg"
             class="img-responsive img-rounded col-md-5 "/>

        <div class="col-md-5">
            <address>
                <strong>Shinetech, Inc.</strong><br>
                高新路<br>
                陕西，西安<br>
                <a href="mailto:#">wangdeshui@outlook.com</a>
            </address>
            <address>
                <strong>微博</strong><br>
                <a href="http://www.weibo.com/wangdeshui">敏捷的水</a>
            </address>

            <address>
                <strong>公司网站</strong><br>
                <a href="http://www.shinetechchina.com">www.shinetechchina.com</a>
            </address>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl>
                <dt>工作经历</dt>
                <dd>
                    2年制造业ERP开发及管理经验
                    2年旅游行业信息化整体方案
                    5年欧美软件外包开发及管理经验
                </dd>
            </dl>
            <dl>
                <dt>兴趣爱好</dt>
                <dd>本人专注于软件项目，目前为Agile所倾倒，喜欢SCRUM、XP、团队建设，同时对.Net、Ruby on Rails、
                    开源软件、软件质量保证有极大的兴趣.
                </dd>
            </dl>
        </div>


    </div>
    <div>
        <blockquote>
            <strong>西安分公司招聘，希望熟悉.net开发，热爱敏捷的工程师加入，如果你不想加班， 如果你爱学习技术，钻研技术，
                如果你想和很多优秀的同事一起工作,那就请赶紧 联系我<span class="text-primary"><a href="mailto:">
                    wangds@shinetechchina.com</a></span></strong>
        </blockquote>
    </div>
</div>